app-profile {
  ion-grid {
  width:100%;
  height: auto !important;
  background: #dfdfdf;
 }



}
 .messagecss{
    color:black; 
 }
$white-color: #fff;
$height100: 100%;



ion-row {
  height: $height100;
}
ion-card img {
  width: 45%;
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh; 
  margin-bottom: 28px;
}
ion-col {
  border: 1px solid #488aff;
  background: $white-color;
}

ion-button {
  font-weight: 300;
}
.animate-if {
background:white;
border:1px solid black;
padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
opacity:1;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
      background: $white-color;
  }
  ion-col {
      border: none;
  }
}
/* latin */
@font-face {
font-family: 'Josefin Slab';
font-style: normal;
font-weight: 400;
src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/lW-5wjwOK3Ps5GSJlNNkMalnqg6v.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.getstart { 
  background-image: url(../assets/imgs/bg2.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center; 

}
.tutorial-page {

.toolbar-background {
  background: #fff;
  border-color: transparent;
}

.slide-zoom {
  height: 100%;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-image {
  max-height: 50%;
  max-width: 60%;
  margin: 18px 0;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: #60646B;

  b {
    color: #000000;
  }
}

}
 .grid1{
  height: auto !important;
  background-color : white !important;
 }
 .row1{
  background-color : white !important;
 }
 .colm{
  background-color : white !important;
 }